@import '../../styles/global.scss';

.project {
   padding: 20px;
   border-radius: 5px;
   transition: 0.3s all;
   cursor: pointer;
   display: block;

   &:hover {
      box-shadow: $large_shadow;
      transform: translateY(-1px);
   }

   &:hover .learn {
      color: $accent;
   }

   h3 {
      transition: 0.2s all;
      &:hover {
         // color: blue;
         // transform: translateY(-1px);
      }
   }

   .block {
      height: 250px;
      // background: pink;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      transition: 0.3s all;
   }

   .subtitle {
      color: $text_grey;
      font-weight: 400;
      margin: 15px 0;
   }
}
