@import '../../styles/global.scss';

.carousel {
   display: grid;
   grid-template-columns: 1fr 1fr;
   // margin: 0 -20px;
   padding: 40px 20px 120px 20px;
   grid-column-gap: 40px;
   grid-row-gap: 20px;
   animation-name: carousel-animation;
   animation-duration: 1s;
   animation-delay: 0.7s;
   animation-fill-mode: forwards;
   opacity: 0;
   // box-sizing: border-box;

   @media only screen and (max-width: #{$mobile-width}) {
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      padding-left: 0px;
      padding-right: 0px;
   }

   .button-row {
      margin-left: 20px;
   }

   @keyframes carousel-animation {
      0% {
         opacity: 0;
      }

      100% {
         opacity: 1;
         transform: translateY(0px);
      }
   }
}
