$about_height: 400px;

@import '../../styles/global.scss';

.about {
   padding: 40px;
   box-sizing: border-box;
   // margin: 0 40px;
   a {
      font-weight: 500;
   }

   .lead {
      font-weight: 700;
      font-size: 50px;
      margin-top: -6px;
   }

   .lead {
      font-weight: 500;
      font-size: 24px;

      margin-bottom: 40px;
      line-height: 40px;

      @media only screen and (max-width: #{$mobile-width}) {
         margin: 40px 0;
      }
   }

   .info {
      line-height: 25px;
      color: $text_grey;
      margin: 60px 0;

      div {
         margin: 20px 0;
      }
   }

   .small {
      height: 284px;
      grid-row-start: 1;
      grid-row-end: 2;

      img {
         height: 100%;
         animation-name: fade;
         animation-duration: 1.3s;
         animation-fill-mode: forwards;
         animation-timing-function: ease-out;
      }
   
      @keyframes fade {
         0% {
            opacity: 0.3;
            // height: 400%;
            filter: blur(15px);
         }
   
         100% {
            // filter: blur(0);
            padding: 0;
         }
      }
   }

   .about-col {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 20px 0;
      

      @media only screen and (max-width: #{$mobile-width}) {
         grid-template-columns: 1fr;
      }
   }

   .item1 {
      grid-row-start: 2;
      grid-column-start: 1;
    }

    .item2 {
      grid-row-start: 1;
      grid-row-end: 5;
    }

   .grid-3x {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;
   }

   .title,
   .item {
      margin: 15px 0;
   }

   .title {
      font-weight: 500;
   }

   .item {
      color: $text_grey;
   }
}
