//Colors:
$background_grey: #fafbfc;
$text_grey: #999;
$black: #000;
$accent: #0e00ff;
$blog_accent: #5449d2;
$shadow_color: #e8e8e8;
$border_color: #eaeaea;
$big_color: #202020;
$text_color: #464040;

//Box Shadows
$button_shadow: 0px 1px 10px $shadow_color;
$medium_shadow: 0px 1px 20px $shadow_color;
$large_shadow: 0px 1px 40px $shadow_color;

//Animations

//Padding:
$footer_padding: 60px;

//Sizing:
$max_width: 1100px;
$mobile-width: 600px;
